@model TCGshopTestEnvironment.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "ConfirmEmail";
}
<div class="containerCenter">
    <div class="row justify-content-center">

        <div class="col-md-4">
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>
</div>