@model TCGshopTestEnvironment.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Log In";
}

<div class="containerCenter">
    <div class="row justify-content-center">

        <div class="col-md-4">
            <h2>@ViewData["Title"]</h2>

            <form method="post" asp-action="Login" asp-controller="Account">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" size="10" class="form-control" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RememberMe"></label>
                    <input asp-for="RememberMe" />
                    <span asp-validation-for="RememberMe"></span>
                </div>
                <p><input type="submit" value="Login" class="btn btn-default btnLogin" /></p>
                <div class="form-group">
                    <p>
                        <a>Forgot your password?</a>
                    </p>
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <div class="signUpBox">
               <h1>Sign Up </h1>

               <p>
                   <img src="~/images/ok.png" />View your orders easily and manage personal data.
               </p>
               <p>
                   <img src="~/images/ok.png" />You can easily keep track of the status of your orders.
               </p>
               <p>
                   <img src="~/images/ok.png" />You can download invoices from your orders.
               </p>
               <p>
                   <img src="~/images/ok.png" />You can download invoices from your orders.
               </p>

               <button class="btn btn-default callToActionRegister">
                   Create an account
               </button>
            </div>
        </div>
    </div>
</div>