@model TCGshopTestEnvironment.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Log In";
}

<div class="containerCenter pb-4 mb-5" style="margin-top: 101px;">
    <div class="row innerBox justify-content-center">
        <div class="col col-md-12">
            <h2 class="LoginTitle">@ViewData["Title"]</h2>

            <form method="post" asp-action="Login" asp-controller="Account" id="loginform">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" maxlength="200"/>
                    <span asp-validation-for="UserName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" size="10" class="form-control"/>
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RememberMe"></label>
                    <input asp-for="RememberMe" />
                    <span asp-validation-for="RememberMe"></span>
                </div>

                <p><input type="submit" value="Login" class="btn btn-primary btnSignIn" /></p>
                @*<div class="text-center mb-5" style="padding-bottom:20px;">
                    <input type="submit" value="Login" class="btn btn-primary btnSignIn" />
                </div>*@
                <p class="text-center">
                    <a asp-area="" asp-controller="Account" asp-action="Register">Register</a><br />
                    <a asp-area="" asp-controller="Account" asp-action="ForgotPassword">Forgot your password?</a>
                </p>

            </form>
        </div>

               @*<a asp-controller="account" asp-action="Register">
                   <button class="btn btn-primary btnSignIn" type="submit">
                       Create an account
                   </button>
               </a>*@
    </div>
</div>