/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    margin: 0;
    padding: 0;
}

.logo-image {
    margin-left: 0px;
}

img.imageCell {
    width: 190px;
}

.ProductTitleCat {
    font-size: 1.5rem;
    font-weight: 600;
    color: #3c76ee;
}

.AddCart {
    text-transform: uppercase;
    font-weight: 600;
}

.detailProduct {
    margin: 35px;
}

.innerColomn {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    margin-bottom: 5px;
    border: 1px solid #B0B0B0;
    border-radius: 15px;
    margin: 20px;
    height: 100%;
    width: 235px;
}

.GradeText {
    text-transform: uppercase;
    font-size: 1rem;
    color: #909090;
}

.btnSearch {
    background-color: #f5b740;
    border-color: #f5b740;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.4rem;
}

.wrapper {
    padding: 0px;
    margin: 0px;
}

.innerPrice {
    font-size: 3rem;
}

.loginRight {
    margin-top: 10px;
}

.btnSignIn {
    font-weight: 700;
    font-size: 1.6rem;
    border-radius: 5px;
    background-color: #f5b740;
    border-color: #f5b740;
    width: 100px;
    height: 35px;
    color: #ffffff;
}

.outerCallToAction {
    padding: 20px;
}

.containerCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerCenterRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul.nav.navbar-nav li {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

    ul.nav.navbar-nav li:first-child {
        border-left: 1px solid rgba(0, 0, 0, 0.3);
    }

.callToAction {
    background-color: #2b74f6;
    border-color: #2b74f6;
    padding: 10px 35px 10px 35px;
    color: #FFF;
    font-weight: 700;
    font-size: 1.6rem;
    border-radius: 5px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    color: #f5b740;
}

.borderRegister {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
    border: 1px solid rgba(165, 165, 165, 0.7);
    border-radius: 5px;
    padding: 20px;
}

.signUpBox {
    margin-left: 75px;
}

.btnRegister {
    background-color: #f5b740;
    border-color: #f5b740;
    padding: 15px 80px;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 5px;
}

.btnLogin {
    background-color: #f5b740;
    border-color: #f5b740;
    width: 82%;
    padding: 10px;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}

.footertitle {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    color: #f5b740;
    padding-bottom: 5px;
}

.footerRow {
    color: white;
}

    .footerRow a {
        color: white;
    }

.extraInfo {
    margin-left: 0px;
    margin-right: 0px;
    width: 150px;
}

p.lead {
    margin-right: 150px;
}

.promo {
    margin-top: 50px;
    margin-bottom: 25px;
}

.regLabel {
    margin-top: 0px;
    margin-right: 0px;
}

.copy-info {
    color: white;
    padding: 25px;
}

.callToActionRegister {
    margin-top: 15px;
    background-color: #f5b740;
    border-color: #f5b740;
    width: 375px;
    padding: 10px;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}

.form-control {
    width: 300px !important;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-inverse {
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: 1px;
    background-color: #2b74f6;
    border-color: #2b74f6;
    color: white;
}

    .navbar-inverse .navbar-nav > li > a {
        color: white;
    }

.search-bar {
    margin-top: 10px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.logo-image {
    margin-top: 5px;
    margin-bottom: 5px;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
