/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
/*  Clearfix */

.paginationbutton input[type="button"] {
    background-color: #e2e2e2;
    border: 1px solid #e2e2e2;
    border-radius: 100%;
    color: black;
    line-height: 1.2;
    margin-left: -1px;
    padding: 6.5px 10px;
    position: relative;
    text-decoration: none;
}

div#RemoveItem a { color: #efefef; }

.col-md-6.priceCart {
    color: #efefef;
    font-size: 2rem !important;
    padding-top: 15px;
    text-align: right;
}

.col-md-6.priceCartInfo {
    color: #efefef;
    text-align: right;
}

.row.lineCart {
    background-color: #313337;
    margin-bottom: 15px;
    width: 765px;
}

.row.lineCartInformation {
    color: #efefef;
    margin-left: -2px;
    width: 410px;
}

}

.ShoppingCartTitle {
    color: #efefef;
    font-size: 2.5rem !important;
}

.ShoppingCartTitleInfo {
    color: #efefef;
    font-size: 1.5rem;
}

.CartTitleColomn { color: #efefef; }

.filter {
    background-color: #3a3c40;
    border-radius: 10px;
    margin-top: 12px;
    padding-left: 10px;
}

.filter h3 { color: white; }

label { color: white; }

.FilterTitle {
    font-size: 17px;
    font-weight: 800;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.top-header { background-color: #121315; }

.bg-back { background-color: #54575f; }

.imageShoppingJs {
    padding-bottom: 10px;
    padding-right: 15px !important;
    padding-top: 10px;
}

.margint25 { margin-top: 25px; }

.marginb25 { margin-bottom: 25px; }

.price-filter { color: white; }

/* Override imageCell for ShoppingCart images*/

.shoppingCartImg img {
    height: 125px !important;
    width: 100px !important;
}

.name::first-line {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 25px;
}

.btn-minPlus {
    background-color: #f5b740 !important;
    border-color: #f5b740;
    border-radius: 0;
    color: #313336;
    font-size: 2.0rem;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px;
}

.ShoppingImage {
    padding-bottom: 10px;
    padding-right: 20px;
}

.ShoppingPrice { font-weight: 400; }

.ShoppingQuant {
    color: #313336;
    padding-left: 5px;
    text-align: center;
    width: 36px;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.LoginTitle { color: #e4e4e4; }

.TopLogin {
    font-size: 2rem;
    font-weight: 800;
}

.innerBox { background-color: #313337; }

.TopLogin a { color: #e4e4e4; }

.logo-image { margin-left: 0px; }

img.imageCell {
    height: 280px;
    width: 190px;
}

.ProductTitleCat {
    color: #e4e4e4;
    font-size: 1.5rem;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: -webkit-fill-available;
}

.imagePokemonCell {
    height: 280px !important;
    width: 190px;
}

.AddCart {
    font-weight: 600;
    text-transform: uppercase;
}

.detailProduct { margin: 35px; }

.col-md-4 .text-danger.validation-summary-errors { width: 220px; }

span.text-danger.field-validation-error { padding-left: 14px; }

.outerShadow {
    -moz-box-shadow: 0px 0px 10px 3px rgba(166, 166, 166, 0.8);
    -webkit-box-shadow: 0px 0px 10px 3px rgba(166, 166, 166, 0.8);
    box-shadow: 0px 0px 10px 3px rgba(166, 166, 166, 0.8);
    margin-left: 15px;
    margin-top: 65px;
    padding: 20px;
}

.outerShadow .completed {
    font-size: 2rem;
    font-weight: 800;
    padding-bottom: 25px;
    text-transform: uppercase;
}

button.btn.btn-default.btnSignIn:hover, button.btn.btn-default.btnSignIn:focus, button.btn.btn-default.btnSignIn:active {
    background-color: #f5b740;
    color: white;
}

.priceh4 { color: #e4e4e4; }

.innerColomn {
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    background-color: #393a3e;
    border: 1px solid #393a3e;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
    /*margin: 20px;
    height: 100%;
    width: 235px;*/
}

.innerColomnSquare {
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    background-color: #393a3e;
    border: 1px solid #393a3e;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
    /*margin: 20px;
    height: 100%;
    width: 235px;*/
}

.svgIconHeader {
    color: #e7e7e7;
    font-size: 2.7rem;
}

.priceperpiece {
    font-size: 10px;
    font-weight: 800;
    text-align: right;
    text-transform: uppercase;
}

.GradeText {
    color: #909090;
    font-size: 1rem;
    text-transform: uppercase;
}

.btnSearch {
    background-color: #f5b740;
    border-color: #f5b740;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 700;
}

.wrapper {
    margin: 0px;
    padding: 0px;
}

.innerPrice { font-size: 3rem; }

.loginRight { margin-top: 10px; }

.btnSignIn {
    background-color: #f5b740;
    border-color: #f5b740;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 700;
    height: 35px;
    width: auto !important;
}

.outerCallToAction { padding: 20px; }

.containerCenter {
    align-items: center;
    display: flex;
    justify-content: center;
}

.containerCenterRegister {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

ul.nav.navbar-nav li { border-right: 1px solid rgba(0, 0, 0, 0.3); }

ul.nav.navbar-nav li:first-child { border-left: 1px solid rgba(0, 0, 0, 0.3); }

.callToAction {
    background-color: #f5b740;
    border-color: #f5b740;
    border-radius: 5px;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 10px 35px 10px 35px;
}

.dropdown-item {
    background-color: transparent;
    border: 0;
    clear: both;
    color: #212529;
    display: block;
    font-weight: 400;
    padding: .25rem 1.5rem;
    text-align: inherit;
    white-space: nowrap;
    width: 100%;
}

.dropdown-toggle::after {
    border-bottom: 0;
    border-left: .3em solid transparent;
    border-right: .3em solid transparent;
    border-top: .3em solid;
    color: #f5b740;
    content: "";
    display: inline-block;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    width: 0;
}

.borderRegister {
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(165, 165, 165, 0.7);
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.signUpBox { margin-left: 75px; }

.btnRegister {
    background-color: #f5b740;
    border-color: #f5b740;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 15px 80px;
}

.btnLogin {
    background-color: #f5b740;
    border-color: #f5b740;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px;
    width: 300px;
}

.footertitle {
    color: #f5b740;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.footerRow { color: white; }

.footerRow a { color: white; }

.extraInfo {
    margin-left: 0px;
    margin-right: 0px;
    width: 150px;
}

p.lead { margin-right: 150px; }

.promo {
    margin-bottom: 25px;
    margin-top: 50px;
}

.regLabel {
    margin-right: 0px;
    margin-top: 0px;
}

.copy-info {
    color: white;
    padding: 25px;
}

.callToActionRegister {
    background-color: #f5b740;
    border-color: #f5b740;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 15px;
    padding: 10px;
    width: 375px;
}

.form-control { width: 300px !important; }

.navbar { margin-bottom: 0px; }

.navbar-inverse {
    background-color: #313337;
    border-color: #313337;
    border-radius: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 1px;
}

.navbar-inverse .navbar-nav > li > a { color: white; }

.search-bar { margin-top: 10px; }

/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.logo-image {
    margin-bottom: 5px;
    margin-top: 5px;
}

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] { width: 100%; }

/* QR code generator */

#qrCode { margin: 15px; }

/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption { display: none; }
}

/* The Modal (background) */

.modal {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    display: none; /* Hidden by default */
    height: 100%; /* Full height */
    left: 0;
    overflow: auto; /* Enable scroll if needed */
    position: fixed; /* Stay in place */
    top: 0;
    width: 100%; /* Full width */
    z-index: 1; /* Sit on top */
}

/* Modal Content/Box */

.modal-content {
    animation-duration: 0.4s;
    animation-name: animatetop;
    background-color: #313336;
    border: 1px solid #888;
    color: #e4e4e4;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

/* Add Animation */

@keyframes animatetop {
    from {
        opacity: 0;
        top: -300px;
    }

    to {
        opacity: 1;
        top: 0;
    }
}


.sk-folding-cube {
    -webkit-transform: rotateZ(45deg);
    height: 40px;
    margin: 20px auto;
    position: relative;
    transform: rotateZ(45deg);
    width: 40px;
}

.sk-folding-cube .sk-cube {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    float: left;
    height: 50%;
    position: relative;
    transform: scale(1.1);
    width: 50%;
}

.sk-folding-cube .sk-cube:before {
    -ms-transform-origin: 100% 100%;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    background-color: #333;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform-origin: 100% 100%;
    width: 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
        transform: perspective(140px) rotateX(-180deg);
    }

    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        opacity: 1;
        transform: perspective(140px) rotateX(0deg);
    }

    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        opacity: 0;
        transform: perspective(140px) rotateY(180deg);
    }
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
        transform: perspective(140px) rotateX(-180deg);
    }

    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        opacity: 1;
        transform: perspective(140px) rotateX(0deg);
    }

    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        opacity: 0;
        transform: perspective(140px) rotateY(180deg);
    }
}

#progress-wrp {
    background: #fff;
    border: 1px solid #0099CC;
    border-radius: 3px;
    box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
    height: 30px;
    margin: 10px;
    padding: 1px;
    position: relative;
    text-align: left;
}

#progress-wrp .progress-bar {
    background-color: #f39ac7;
    border-radius: 3px;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
    height: 100%;
    width: 0;
}

#progress-wrp .status {
    color: #000000;
    display: inline-block;
    left: 50%;
    position: absolute;
    top: 3px;
}

.clicked { color: #f5b740; }

.notclicked { color: white; }

/*removes the arrow in input boxes*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}