<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <h4 class="" style="padding-bottom:10px; font-size:1.8rem;font-weight: 700;text-transform: uppercase;">Product added to Shopping Cart</h4>
        <img class="imageCell" id="productaddimg"/>
        <div style="margin-top: 25px;">
            <button class="btn btn-primary btnSearch" onclick="location.href = '@Url.Action("ShoppingCart", "Shopping")'">Go to shopping cart</button>
            <button  class="btn btn-primary btnSearch"  id="Continueshop">Continue shopping</button>
        </div>
    </div>
</div>