<!-- The Modal -->
<div id="myModal" class="modal" style="z-index: 5">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Product added to Shopping Cart</p>
        <img class="imageCell" id="productaddimg"/>
        <div>
            <button onclick="location.href = '@Url.Action("ShoppingCart", "Shopping")'">Go to shopping cart</button>
            <button id="Continueshop">Continue shopping</button>
        </div>
    </div>
</div>