@model TCGshopTestEnvironment.ViewModels.ProductsShopCartViewModel
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dynatable/0.3.1/jquery.dynatable.css">
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/Dynatable/0.3.1/jquery.dynatable.js' defer='defer'></script>*@


<div id="ShoppingCart"></div>

<table id="my-ajax-table" class="table table-condensed">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>ImageUrl</th>
            <th>Price</th>
            <th>Grade</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script type='text/javascript' src='/js/ShoppingCart.js' defer='defer'></script>*