@model TCGshopTestEnvironment.Models.Order


<center><h2 class="text-center" style="padding-bottom:15px;">Thank You For Your Purchase</h2></center>
<br>Your order number is:<i> @Model.Guid</i></br>
<br>You will receive an email confirmation shortly</br>
<a asp-action="Index" asp-controller="Home"><button class="btn btn-primary btnSearch">Continue shopping</button></a>
