@model TCGshopTestEnvironment.ViewModels.CheckoutViewModel
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">*@
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

@inject UserManager<UserAccount> UserManager
@inject SignInManager<UserAccount> SignInManager        

<style>
    .input-group-addon, .input-group-btn { width: auto !important; }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal" id="AccountAndAddressForm">
                @*<div class="form-group">
                    <label for="Username" class="control-label col-xs-4">Username</label>
                    <div class="col-xs-8">
                        <div class="input-group">
                            <input id="Username" name="Username" type="text" aria-describedby="UsernameHelpBlock" class="form-control">
                            <div class="input-group-addon" id="UsernameExclamation">
                                <i class="fa fa-exclamation"></i>
                            </div>
                        </div>
                        <span id="UsernameHelpBlock" class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Password" class="control-label col-xs-4">Password</label>
                    <div class="col-xs-8">
                        <div class="input-group">
                            <input id="Password" name="Password" type="text" aria-describedby="PasswordHelpBlock" class="form-control">
                            <div class="input-group-addon" id="PasswordExclamation">
                                <i class="fa fa-exclamation"></i>
                            </div>
                        </div>
                        <span id="PasswordHelpBlock" class="help-block">Requires: Min length 5, Capital letter, Number</span>
                    </div>
                </div>*@
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label col-xs-4">First Name</label>
                    <div class="col-xs-8">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-asterisk"></i>
                            </div>
                            <input asp-for="FirstName" id="FirstName"  type="text" aria-describedby="FirstNameHelpBlock" placeholder="Puk" required="required" class="form-control">
                            <div class="input-group-addon" id="FirstNameExclamation">
                                <i class="fa fa-exclamation"></i>
                            </div>
                        </div>
                        <span id="FirstNameHelpBlock" class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label col-xs-4">Last Name</label>
                    <div class="col-xs-8">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-asterisk"></i>
                            </div>
                            <input asp-for="LastName" id="LastName" name="LastName" placeholder="van de petteflet" type="text" aria-describedby="LastNameHelpBlock" required="required" class="form-control">
                            <div class="input-group-addon" id="LastNameExclamation">
                                <i class="fa fa-exclamation"></i>
                            </div>
                        </div>
                        <span id="LastNameHelpBlock" class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PostalCode" class="control-label col-xs-4">Postal Code</label>
                    <div class="col-xs-8">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-asterisk"></i>
                            </div>
                            <input asp-for="PostalCode" id="PostalCode" name="PostalCode" placeholder="1234AB" type="text" aria-describedby="PostalCodeHelpBlock" required="required" class="form-control">
                            <div class="input-group-addon" id="PostalCodeExclamation">
                                <i class="fa fa-exclamation"></i>
                            </div>
                        </div>
                        <span id="PostalCodeHelpBlock" class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="HouseNumber" class="control-label col-xs-4">House Number</label>
                    <div class="col-xs-8">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-asterisk"></i>
                            </div>
                            <input id="HouseNumber" name="HouseNumber" placeholder="5" type="text" aria-describedby="HouseNumberHelpBlock" required="required" class="form-control">
                            <div class="input-group-addon" id="HouseNumberExclamation">
                                <i class="fa fa-exclamation"></i>
                            </div>
                        </div>
                        <span id="HouseNumberHelpBlock" class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Street" class="control-label col-xs-4">Street</label>
                    <div class="col-xs-8">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-asterisk"></i>
                            </div>
                            <input id="Street" name="Street" placeholder="Banker Street" type="text" aria-describedby="StreetHelpBlock" required="required" class="form-control">
                            <div class="input-group-addon" id="StreetExclamation">
                                <i class="fa fa-exclamation"></i>
                            </div>
                        </div>
                        <span id="StreetHelpBlock" class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="City" class="control-label col-xs-4">City</label>
                    <div class="col-xs-8">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-asterisk"></i>
                            </div>
                            <input id="City" name="City" placeholder="Greed City" type="text" aria-describedby="CityHelpBlock" required="required" class="form-control">
                            <div class="input-group-addon" id="CityExclamation">
                                <i class="fa fa-exclamation"></i>
                            </div>
                        </div>
                        <span id="CityHelpBlock" class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="State" class="control-label col-xs-4">State / Province</label>
                    <div class="col-xs-8">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-asterisk"></i>
                            </div>
                            <input id="State" name="State" placeholder="Southern Abyss of Pain" type="text" aria-describedby="StateHelpBlock" required="required" class="form-control">
                            <div class="input-group-addon" id="StateExclamation">
                                <i class="fa fa-exclamation"></i>
                            </div>
                        </div>
                        <span id="StateHelpBlock" class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Country" class="control-label col-xs-4">Country</label>
                    <div class="col-xs-8">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-asterisk"></i>
                            </div>
                            <input id="Country" name="Country" placeholder="The Void" type="text" aria-describedby="CountryHelpBlock" required="required" class="form-control">
                            <div class="input-group-addon" id="CountryExclamation">
                                <i class="fa fa-exclamation"></i>
                            </div>
                        </div>
                        <span id="CountryHelpBlock" class="help-block"></span>
                    </div>
                </div>
            @if (!SignInManager.IsSignedIn(User))
            {
                <div class="form-group">
                    <label for="Email" class="control-label col-xs-4">Email</label>
                    <div class="col-xs-8">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-asterisk"></i>
                            </div>
                            <input id="Email" type="email" name="Email" placeholder="Pluk.Petterflet@The.Void" type="text" required="required" class="form-control" aria-describedby="EmailHelpBlock">
                            <div class="input-group-addon" id="EmailExclamation">
                                <i class="fa fa-exclamation"></i>
                            </div>
                        </div>
                        <span id="EmailHelpBlock" class="help-block"></span>
                    </div>
                </div>
            }
                <div class="form-group row">
                    <div class="col-xs-offset-4 col-xs-8">
                        <button name="submit" type="submit" class="btn btn-primary btnSearch">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    //Local Input Validation
    $("input[id='FirstName']").keyup(function () {
        if ($(this).val().length < 1) {
            $("#FirstNameHelpBlock").text("First Name is required");
            $("#FirstNameExclamation").show();
        } else {
            $("#FirstNameHelpBlock").text("");
            $("#FirstNameExclamation").hide();
        };
    });

    $("input[id='LastName']").keyup(function () {
        if ($(this).val().length < 1) {
            $("#LastNameHelpBlock").text("Last Name is required");
            $("#LastNameExclamation").show();
        } else {
            $("#LastNameHelpBlock").text("");
            $("#LastNameExclamation").hide();
        };
    });

    $("input[id='PostalCode']").keyup(function () {
        if ($(this).val().length < 1) {
            $("#PostalCodeHelpBlock").text("Postal Code is required");
            $("#PostalCodeExclamation").show();
        } else {
            $("#PostalCodeHelpBlock").text("");
            $("#PostalCodeExclamation").hide();
        };
    });

    $("input[id='HouseNumber']").keyup(function () {
        if ($(this).val().length < 1) {
            $("#HouseNumberHelpBlock").text("House Number is required");
            $("#HouseNumberExclamation").show();
        } else {
            $("#HouseNumberHelpBlock").text("");
            $("#HouseNumberExclamation").hide();
        };
    });

    $("input[id='Street']").keyup(function () {
        if ($(this).val().length < 1) {
            $("#StreetHelpBlock").text("Street is required");
            $("#StreetExclamation").show();
        } else {
            $("#StreetHelpBlock").text("");
            $("#StreetExclamation").hide();
        };
    });

    $("input[id='City']").keyup(function () {
        if ($(this).val().length < 1) {
            $("#CityHelpBlock").text("City is required");
            $("#CityExclamation").show();
        } else {
            $("#CityHelpBlock").text("");
            $("#CityExclamation").hide();
        };
    });

    $("input[id='State']").keyup(function () {
        if ($(this).val().length < 1) {
            $("#StateHelpBlock").text("State is required");
            $("#StateExclamation").show();
        } else {
            $("#StateHelpBlock").text("");
            $("#StateExclamation").hide();
        };
    });

    $("input[id='Country']").keyup(function () {
        if ($(this).val().length < 1) {
            $("#CountryHelpBlock").text("Country is required");
            $("#CountryExclamation").show();
        } else {
            $("#CountryHelpBlock").text("");
            $("#CountryExclamation").hide();
        };
    });

    $("input[id='Email']").keyup(function () {
        if ($(this).val().length < 1) {
            $("#EmailHelpBlock").text("Email is required");
            $("#EmailExclamation").show();
        } else {
            $("#EmailHelpBlock").text("");
            $("#EmailExclamation").hide();
        };
    });

    //Posting Date + Shopping Cart
    $("#AccountAndAddressForm").submit(function (e) {

        var form = $(this);

        var dform = objectifyForm(form.serializeArray());

        var stupidArray = [];
        stupidArray.push(dform);

        function objectifyForm(formArray) { //serialize data function

            var returnArray = {};
            for (var i = 0; i < formArray.length; i++) {
                returnArray[formArray[i]['name']] = formArray[i]['value'];
            }
            return returnArray;
        }

        var d = { OrderViewModel: stupidArray, OrderDetails: shoppingCart };

        $.ajax({
            type: "POST",
            url: "/Checkout/AccountAndAddress",
            data: JSON.stringify(d),
            contentType: "application/json",
            success: function (data) {
                console.log('response', data);
                window.location.href = data;

            }
        });

        e.preventDefault(); // avoid to execute the actual submit of the form.
    });

    //Autofill street based on postcode
    $("input[id='PostalCode']").keyup(function count() {
        var input = this.value;
        var regex = new RegExp(/^[0-9]{4}\s*[a-z]{2}$/i);
        if (regex.test(input)) {
            console.log(regex.test(input));
            $.ajax({
                type: 'GET',
                url: "/account/PostCodeApi",
                data: {
                    postcode: $("input[id='PostalCode']").val()
                },
                dataType: 'json',
                cache: true,
                //success
                success: function (data) {
                    console.log(data);
                    console.log("Street: " + data["_embedded"]["addresses"][0]["street"]);
                    console.log("Street: " + data["_embedded"]["addresses"][0]["city"]["label"]);
                    console.log("Street: " + data["_embedded"]["addresses"][0]["province"]["label"]);

                    $("input[id='Street']").val(data["_embedded"]["addresses"][0]["street"]).prop('readonly', true);
                    $("input[id='City']").val(data["_embedded"]["addresses"][0]["city"]["label"])
                        .prop('readonly', true);
                    $("input[id='State']").val(data["_embedded"]["addresses"][0]["province"]["label"])
                        .prop('readonly', true);
                    $("input[id='Country']").val("The Netherlands").prop('readonly', true);

                    //Updating All the Auto Fields
                    $("input[id='Street']").trigger("keyup");
                    $("input[id='City']").trigger("keyup");
                    $("input[id='State']").trigger("keyup");
                    $("input[id='Country']").trigger("keyup");

                }
            });
        }
    });
</script>

@if (SignInManager.IsSignedIn(User))
{
    <script>
        $(document).ready(function () {

            $("input[id='PostalCode']").trigger("keyup");
            $("input[id='FirstName']").trigger("keyup");
            $("input[id='LastName']").trigger("keyup");
        });
    </script>
}