@model TCGshopTestEnvironment.ViewModels.ProductsShopCartViewModel
@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div>Server Side</div>
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="0">
                <div id="1">
                    <div id="ShoppingCartCheckOutLoading">
                        <div class="sk-folding-cube">
                            <div class="sk-cube1 sk-cube"></div>
                            <div class="sk-cube2 sk-cube"></div>
                            <div class="sk-cube4 sk-cube"></div>
                            <div class="sk-cube3 sk-cube"></div>
                            <div>Loading...</div>
                        </div>
                        <script src="/js/CheckOut.js" defer></script>
                    </div>
                </div>
            </div>
        </div>
    </div>

