@using Microsoft.AspNetCore.Http
@model IEnumerable<TCGshopTestEnvironment.ViewModels.PopularViewModel>
@{
    ViewData["Title"] = "Home Page";
}



<!-- Why the FUCK is this line here? <br style="margin-top: 100px;">-->
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div style="background-color: rgb(60, 61, 66); color: rgb(230, 230, 230);">
                <div class="containerCenter">
                    <div class="promo">
                        <div class="row">
                            <div class="col-md-6 col-xl-6">
                                <div class="text-center">
                                    <center><img class="img-fluid text-center" src="~/images/THC.png" /></center>
                                </div>
                            </div>
                            <div class=col-md-6 col-xl-6>
                                <h1>Legendary Hero Collection</h1>
                                <p class="lead">
                                    Get ready to dispense some Dueling Justice this season when the Yu-Gi-Oh! TCG presents the Legendary Hero Decks, featuring 3 unique archetypes including: 
                                    "Destiny HERO's", "Aesir" and "The Phantom Knights". Get them now!
                                </p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="regPrice">
                                            <small>Latest Price</small>
                                            <p class="innerPrice">€ 24,95</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 outerCallToAction">
                                        <button class="btn-default callToAction">Buy Now!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- einde tijdelijk hier gezet-->
        </div>
        <div class="item">
            <div class="item active">
                <div style="background-color: rgb(60, 61, 66); color: rgb(230, 230, 230);">
                    <div class="containerCenter">
                        <div class="promo">
                            <div class="row">
                                <div class="col-md-6 col-xl-6">
                                    <div class="text-center">
                                        <center><img class="img-fluid text-center" src="~/images/THC.png" /></center>
                                    </div>
                                </div>
                                <div class=col-md-6 col-xl-6>
                                    <h1>Legendary Hero Collection</h1>
                                    <p class="lead">
                                        Get ready to dispense some Dueling Justice this season when the Yu-Gi-Oh! TCG presents the Legendary Hero Decks, featuring 3 unique archetypes including:
                                        "Destiny HERO's", "Aesir" and "The Phantom Knights". Get them now!
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="regPrice">
                                                <small>Latest Price</small>
                                                <p class="innerPrice">€ 24,95</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6 outerCallToAction">
                                            <button class="btn-default callToAction">Buy Now!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- einde tijdelijk hier gezet-->
            </div>
        </div>
        <div class="item">
            <div class="item active">
                <div style="background-color: rgb(60, 61, 66); color: rgb(230, 230, 230);">
                    <div class="containerCenter">
                        <div class="promo">
                            <div class="row">
                                <div class="col-md-6 col-xl-6">
                                    <div class="text-center">
                                        <center><img class="img-fluid text-center" src="~/images/THC.png" /></center>
                                    </div>
                                </div>
                                <div class=col-md-6 col-xl-6>
                                    <h1>Legendary Hero Collection</h1>
                                    <p class="lead">
                                        Get ready to dispense some Dueling Justice this season when the Yu-Gi-Oh! TCG presents the Legendary Hero Decks, featuring 3 unique archetypes including:
                                        "Destiny HERO's", "Aesir" and "The Phantom Knights". Get them now!
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="regPrice">
                                                <small>Latest Price</small>
                                                <p class="innerPrice">€ 24,95</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6 outerCallToAction">
                                            <button class="btn-default callToAction">Buy Now!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- einde tijdelijk hier gezet-->
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div style="height: 400px">
    <div class="containerCenter" style="margin-top: 10px;">
        <h2 style="color: rgb(230, 230, 230);">Popular Choices</h2>
    </div>
    <div class="containerCenter">
        @foreach (var product in @Model)
    {
        <div class="col-xl-3 col-md-3 col-xs-6  text-center" style="margin-top:10px; height: 350px; width: 240px;">
            <div class="innerColomnSquare" style="width: -webkit-fill-available; height: -webkit-fill-available;">
                <div>
                    <h1 class="ProductTitleCat" title="@product.Name">@product.Name</h1>
                </div>
                <a asp-controller="Products" asp-action="Detail" asp-route-id="@product.ProductId">
                    <img src="@(Startup.storagePath + product.ImageUrl + ".png")" class="imageCell" style="height: 250px; width: 160px;"/>
                </a>
                <br>
                <h4 style="color: rgb(230, 230, 230);">€@product.Price</h4>
            </div>
        </div>
    }
    </div>
</div>