@using Microsoft.AspNetCore.Identity
@using TCGshopTestEnvironment.Models

@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @*<a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="btn btn-primary btnSignIn" width="auto">Hello @UserManager.GetUserName(User)!</a>*@
    @*<li><a asp-area="" asp-controller="Shopping" asp-action="ShoppingCart" onclick="AddLocalCartToDatabase()"><span class="glyphicon glyphicon-shopping-cart" style="color:#f5b740"></span>Cart <span class="badge" id="shopcartamountbadge"></span></a></li>*@
    @*<li><a ><span>Favorites List</span></a></li>*@
}
else
{
    @*<li><a asp-area="" asp-controller="Shopping" asp-action="ShoppingCart"><span class="glyphicon glyphicon-shopping-cart" style="color:#f5b740"></span>Cart <span class="badge" id="shopcartamountbadge"></span></a></li>*@
}
