@using Microsoft.AspNetCore.Identity
@using TCGshopTestEnvironment.Models

@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li><a asp-area="" asp-controller="Shopping" asp-action="ShoppingCart" onclick="AddLocalCartToDatabase()"><span class="glyphicon glyphicon-shopping-cart" style="color:#f5b740"></span>Cart <span class="badge" id="shopcartamountbadge"></span></a></li>
    <li><a asp-area="" asp-controller="Wishlist" asp-action="Index" onclick="AddLocalCartToDatabase()"><span>Favorites List</span></a></li>
}
else
{
    @*<li><a asp-area="" asp-controller="Shopping" asp-action="ShoppingCart"><span class="glyphicon glyphicon-shopping-cart" style="color:#f5b740"></span>Cart <span class="badge" id="shopcartamountbadge"></span></a></li>*@
}
