@model TCGshopTestEnvironment.ViewModels.ProductsDetailModel
@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div id="asssets">
    <div id="productsTable">
        <div class="container">
            <form method="post">
                <div class="row detailProduct">
                    <div class="col-md-6 text-center">

                        <tr class="assetRow">
                            <td class=""><img src="@(Startup.storagePath + Model.ImageUrl + ".png")" class="" style="height: 300px; width: 240px;" /></td>
                    </div>

                    <div class="col-md-6">
                        <strong style="color: #e4e4e4;">Name</strong> <br />
                        <h1 class="display-1"><input asp-for="Name" /></h1>
                        <strong style="color: #e4e4e4;">Grade</strong> <br />
                        <label class="GradeText" style="font-size: 1.5rem;"><input asp-for="Grade" /></label>
                        <p style="margin-top: 5px;">
                            <strong style="color: #e4e4e4;">Description</strong> <br />
                            <span> <input asp-for="Description" /></span>
                        </p>
                        <p>
                            <strong style="color: #e4e4e4;">Stock</strong> <br />
                            <label value="@Model.Stock" id="productStock" style="color: black"><input asp-for="Stock" /></label>
                        </p>

                        <p>
                            <strong style="color: #e4e4e4;">Price</strong> <br />
                            <label style="color: #e4e4e4;">€<input asp-for="Price" style="color: black;" /></label>
                        </p>
                        <input type="hidden" asp-for="Id" value="@Model.Id" />
                        <button type="submit" class="btn btn-default">Save</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

