@model TCGshopTestEnvironment.ViewModels.ProductsNewProductViewModel

@{
    ViewData["Title"] = "Add New Product";
}

<link rel="stylesheet" href="/css/MaterializeChip.css">

<div class="container mt-5 pt-5" style="mmargin-top: 2500px !important;">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-7 col-lg-7 col-sm-7" style="margin-top:50px; margin-bottom:50px;">
            <div class="innerColomn" style="padding: 25px;">
                <h6>Add new product</h6>
                <div class="form-group">
                    <form method="post" asp-action="NewProduct" asp-controller="Products" id="NewProduct">
                        <div asp-validation-summary="All"></div>
                        <div class="form-group">
                            <label asp-for="Name"></label> <input asp-for="Name" size="10" class="form-control" /> <span asp-validation-for="Name"></span>
                        </div>
                        <div class="form-group">
                            <input type="file" class="form-control" style="height: auto" data-val="true" data-val-required="The CardImageUpload field is required." id="CardImageUpload">
                            <div id="progress-wrp" style="width: 300px;">
                                <div class="progress-bar"></div>
                                <div class="status">0%</div>
                            </div>
                            <input asp-for="ImageUrl" type="hidden" value="" />
                            <span asp-validation-for="ImageUrl"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price"></label>
                            <input asp-for="Price" size="10" class="form-control" type="number" />
                            <span asp-validation-for="Price"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Grade"></label>
                            <input asp-for="Grade" size="10" class="form-control" type="text" />
                            <span asp-validation-for="Grade"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Category"></label>
                            <div class="chips chips-autocomplete catagory-chips" id="NewProductChip"></div>
                            <div id="HiddenCategroyInput">
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Stock"></label>
                            <input asp-for="Stock" size="10" class="form-control" />
                            <span asp-validation-for="Stock"></span>
                        </div>
                        <button class="btn btn-primary btnNewProduct btnLogin" type="submit" value="Add Product" name="action">
                            Add New Product
                        </button>

                        <!--<p><input type="submit" value="Add Product" class="btn btn-default btnLogin" /></p>-->
                    </form>
                </div>
            </div>
            </div>

        <div class="col-sm-4 col-md-4 col-lg-4 text-center" style="margin-top:50px; margin-bottom:50px;">
            <div class="innerColomn">
                <h1 class="ProductTitleCat" id="NewProductName">Name</h1>
                <label class="GradeText" id="NewProductGrade">Grade</label><br />
                <div class="Category" id="NewProductCategory">
                </div>
                <img src="@(Startup.storagePath + "100.png")" class="imageCell" id="cardImagePreview" />
                <br>
                <h4 id="NewProductPrice">€100</h4>
            </div>
        </div>
    </div>
</div>

<!--Delay Load Javascript for Chips-->
<script type='text/javascript' src='/js/NewProduct.js' defer='defer'></script>